@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.the_title {
  font-family: "Work Sans", serif;
}
.the_description {
  font-family: "Manrope", sans-serif;
}
.CardTitle {
  font-family: "Lato", sans-serif;
}
.CardSchool {
  font-family: "Roboto Condensed", sans-serif;
}
.CardPeriod {
  font-family: "Raleway", sans-serif;
}
.transitionOpacity {
  transition: opacity 500ms ease-in-out 0s;
}
.Wrap {
  padding-top: 56.25%;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  border: 3px solid rgba(249, 249, 249, 0.1);
}
.imageTransition {
  inset: 0px;
  display: block;
  height: 100%;
  object-fit: contain;
  opacity: 1;
  position: absolute;
  transition: opacity 500ms ease-in-out 0s;
  width: 100%;
  z-index: 1;
  top: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
/* * {
  overflow-x: hidden;
} */
*::-webkit-scrollbar {
  display: none;
}

.anime {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

@layer components {
  .letter_hover {
    @apply transition hover:cursor-pointer hover:border-b hover:border-[#08fdd8]  bg-transparent hover:shadow-[#08fdd8] hover:text-[#08fdd8] ease-in-out delay-150 hover:-translate-y-1 hover:text-[95px];
  }
  .cards {
    @apply bg-[#f2e3d0] flex-[0.7] rounded-lg w-[550px] mb-[15px] p-[10px] flex items-center;
  }
}

.tagcloud {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin: auto;
  width: 50%;
}
.tagcloud--item:hover {
  color: #36454f;
}
